html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html {
  --primaryBackground: #ffffff;
  --primaryTextColor: #000000;
  --invertedPrimaryTextColor: #ffffff;
}
html[data-theme="DARK"] {
  --primaryBackground: #424242;
  --primaryTextColor: #ffffff;
  --invertedPrimaryTextColor: #000000;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
